@model EMMS.ViewModels.Admin.LookupViewModel;
@{
    ViewData["Title"] = "Manage List";
    ViewData["LookupList"] = "active";

}

<div class="card mb-12">
    <div class="card-header">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>Look up List</span>
           @*  <a class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="AddLookupItem" asp-route-id="@Model.LookupList.LookupListId">
                <i class="fa fa-plus me-1"></i> Add Item
            </a> *@
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-asset">
            <div class="table-responsive" id="table-responsive-asset">
                <table class="table fixed-table table-striped table-bordered table-hover" id="lookupTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Item</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model._lookupLists)
                        {


                            <tr>
                                <td width="10%">@item.LookupListId</td>
                                <td width="10%">@item.Name</td>
                                <td width="10%">@item.RowState</td>
                                <td width="5%">

                                    <a style="font-size: medium;"
                                       class="btn btn-info"
                                       title="View" asp-controller="Admin"
                                       asp-action="Index"
                                       asp-route-id="@item.LookupListId">
                                        <i class="fa fa-edit"></i> Manage Items
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#lookupTable').DataTable({
                // Optional: customize page length, language, etc.
                pageLength: 10
            });
        });

    </script>
}
