@model List<EMMS.Models.Entities.Notification>

@{

    ViewData["Title"] = "Notifications";
    ViewData["Notification"] = "active";
}
<div class="notification-body">
	<ul class="notification-list" id="notificationList">
		@foreach (var item in Model)
		{
            <li class="notification-item">
                <div class="notification-icon">
                    @if (item.Type == "work")
                    {
                        <i class="fas fa-tools text-primary"></i>
                    }
                    else if (item.Type == "job")
                    {
                        <i class="fas fa-briefcase text-success"></i>
                    }
                    else if (item.Type == "asset")
                    {
                        <i class="fas fa-box text-info"></i>
                    }
                    else
                    {
                        <i class="fas fa-bell text-secondary"></i>
                    }
                </div>
                <div class="notification-content">
                    <p class="notification-message">@item.Message</p>
                    <span class="notification-time">@item.DateCreated?.ToShortDateString()</span>
                </div>
                <div class="notification-actions">
                    @if (item.Type == "work")
                    {
                        <a class="notification-action mark-read" title="View Work Request"
                           href="@Url.Action("Index", "JobManagement")">
                            <i class="fas fa-eye"></i>
                        </a>
                    }
                    else if (item.Type == "job")
                    {
                        <a class="notification-action mark-read" title="View Job"
                           href="@Url.Action("Index", "JobManagement")">
                            <i class="fas fa-eye"></i>
                        </a>
                    }
                    else if (item.Type == "asset")
                    {
                        <a class="notification-action mark-read" title="View Asset"
                           href="@Url.Action("Index", "AssetManagement")">
                            <i class="fas fa-eye"></i>
                        </a>
                    }
                    else
                    {
                        <span class="notification-action mark-read" title="No action">
                            <i class="fas fa-eye-slash"></i>
                        </span>
                    }
                </div>
            </li>

		}
	</ul>
	<div class="empty-notifications d-none" id="emptyNotifications">
		<i class="fas fa-bell-slash fa-2x mb-3"></i>
		<p>No notifications yet</p>
	</div>
</div>
