@using EMMS.ViewModels
@model MoveAssetViewModel;
@{
    ViewData["Title"] = "Recieve Assets";
    ViewData["recieveAsset"] = "active";
    ViewData["JobMovement"] = "active";
    //var pagination = (Pagination)ViewData["Pagination"];
}


<div class="card">
    <div class="card-header">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>Asset pending receipt</span>
        </div>
    </div>
    <div class="card-body">
        <div class="table-wrapper">
            <table class="table fixed-table table-striped table-bordered table-hover" id="pendingReception">
                <thead>
                    <tr>
                        <th>Asset ID</th>
                        <th>From</th>
                        <th>Date Sent</th>
                        <th>Functional Status</th>
                        <th>Reason</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.MoveAssets is not null)
                    {
                        @foreach (var reciveAsset in Model.MoveAssets.Where(a => a.DateReceived == null && a.IsApproved))
                        {
                            <tr>
                                <td>@reciveAsset.Asset!.AssetTagNumber</td>
                                <td>@reciveAsset.From!.FacilityName</td>
                                <td>@reciveAsset.MovementDate.ToString("dd MMM yyyy")</td>
                                <td>@reciveAsset.FunctionalStatus!.Name</td>
                                <td>@reciveAsset.Reason!.Name</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#recieveModal"
                                    data-movement-id="@reciveAsset.MovementId" data-asset-tag="@reciveAsset.Asset.AssetTagNumber">
                                        Recieve
                                    </button>
                                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#rejectModal" data-asset-id="@reciveAsset.MovementId">
                                        Reject
                                    </button>
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
							<td colspan="6" class="text-center">No pending asset receipts</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>Asset receipt history</span>
        </div>
    </div>
    <div class="card-body">
        <p style="font-size: smaller;">Showing 1–10 out of 20</p>

        <div class="table-wrapper">
            <table class="table fixed-table table-striped table-bordered table-hover" id="receptionHistory">
                <thead>
                    <tr>
                        <th>Asset ID</th>
                        <th>From</th>
                        <th>Date Recieved</th>
                        <th>Functional Status</th>
                        @* <th>Recieved By</th> *@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reciveAsset in Model.MoveAssets.Where(a => a.DateReceived != null))
                    {
                        <tr>
                            <td>@reciveAsset.Asset.AssetTagNumber</td>
                            <td>@reciveAsset.From.FacilityName</td>
                            <td>@reciveAsset.DateReceived!.Value.ToString("dd MMM yyyy")</td>
                            <td>@reciveAsset.FunctionalStatus.Name</td>
                            @* <td>@reciveAsset.ReceivedBy</td> *@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Recieve Modal -->
<div class="modal fade" id="recieveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Receiption Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @* @if (TempData["Error"] != null)
                {
                    <div class="row alert alert-primary d-flex align-items-center alert-dismissible fade show" role="alert">
                        <div>
                            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                            <div>
                                @TempData["Error"]
                            </div>
                        </div>

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                } *@
                <form asp-action="ReceiveAsset" asp-controller="AssetMovement" method="post">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="MoveAsset.Asset.AssetTagNumber" class="form-label"></label>
                            <input asp-for="MoveAsset.MovementId" id="movementId" type="hidden" />
                            <input id="assetTag" class="form-control" readonly/>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="MoveAsset.DateReceived" class="form-label"></label>
                            <input asp-for="MoveAsset.DateReceived" class="form-control" type="date" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="MoveAsset.ConditionId" class="form-label"></label>
                            <select asp-for="MoveAsset.ConditionId" class="form-select selectpicker col-md-6"
                                    data-live-search="true" asp-items="@(new SelectList(Model.Conditions, "Id", "Name"))">
                                <option selected disabled>Select Condition</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="MoveAsset.ReceivedBy" class="form-label"></label>
                            <input asp-for="MoveAsset.ReceivedBy" class="form-control" value="@Guid.NewGuid()" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label asp-for="MoveAsset.Remarks" class="form-label"></label>
                            <textarea asp-for="MoveAsset.Remarks" class="form-control"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Recieve</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <script>

            
    </script>
</div>
<!-- Reject Modal -->
<div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Rejection Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <!-- Date -->
                        <div class="col-md-4">
                            <label for="rejectedDate" class="form-label required-field">Date Rejected</label>
                            <input type="date" class="form-control" id="movementDate" required>
                        </div>
                        <!-- Asset Name / Tag -->
                        <div class="col-md-4">
                            <label for="rejectassetId" class="form-label required-field">Asset Name / Tag</label>
                            <input type="text" value="Patient Monitor - AS-001" class="form-control" id="rejectassetId" required readonly>
                            <!-- Populate dynamically -->
                        </div>


                        <!-- Reason -->
                        <div class="col-md-4">
                            <label for="reason" class="form-label required-field">Reason</label>
                            <select class="form-select" id="reason" required>
                                <option selected disabled>Select Reason</option>
                                <option value="faulty">Faulty</option>
                                <option value="wrong-specification">Wrong Specification</option>
                                <option value="old">OLD</option>
                            </select>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Reject</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <script>

                document.addEventListener("DOMContentLoaded", function () {
            // Get the modal and the asset tag input field
            const Modal = document.getElementById("rejectModal");
            const assetTagInput = document.getElementById("rejectassetId");

            // Listen for when the modal is shown
            Modal.addEventListener("show.bs.modal", function (event) {
                // Get the button that triggered the modal
                const button = event.relatedTarget;

                // Extract the asset ID from the data-asset-id attribute
                const assetId = button.getAttribute("data-asset-id");

                // Populate the Asset Tag field in the modal
                assetTagInput.value = assetId;
            });
        });
    </script>

</div>

@section Scripts {
    <script>
            document.addEventListener("DOMContentLoaded", function () {
            // Get the modal and the asset tag input field
            const Modal = document.getElementById("recieveModal");
            const movementIdInput = document.getElementById("movementId");
            const assetTagInput = document.getElementById("assetTag");

            // Listen for when the modal is shown
            Modal.addEventListener("show.bs.modal", function (event) {
                // Get the button that triggered the modal
                const button = event.relatedTarget;

                // Extract the asset ID from the data-asset-id attribute
                const assetId = button.getAttribute("data-asset-tag");
                const movementId = button.getAttribute("data-movement-id");



                // Populate the Asset Tag field in the modal
                assetTagInput.value = assetId;
                movementIdInput.value = movementId;
            });
        });
            $(document).ready(function () {
                $('#receptionHistory').DataTable({
                    // Optional: customize page length, language, etc.
                    pageLength: 10
                });
            });
            $(document).ready(function () {
                $('#pendingReception').DataTable({
                    // Optional: customize page length, language, etc.
                    pageLength: 10
                });
            });
           
    </script>
}