@model EMMS.ViewModels.AssetDetailViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "A123456";
    ViewData["asset"] = "active";
}
<script>
    const assetDetail = @Html.Raw(Json.Serialize(Model.Asset));
</script>


<!-- Asset Detail Section -->
<div class="card mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>Asset Detail</span>
        <button style="font-size: small;" class="btn btn-secondary" title="Printer" onclick="printAssetDetail()">
            <i class="fa-solid fa-print"></i> Print
        </button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <dl class="row">
                    <dt class="col-sm-6 border p-1 m-0">Asset Tag</dt>
                    <dd class="col-sm-6 border p-1 m-0">@Html.DisplayFor(model => model.Asset.AssetTagNumber)</dd>

                    <dt class="col-sm-6 border p-1 m-0">Category</dt>
                    <dd class="col-sm-6 border p-1 m-0">@Html.DisplayFor(model => model.Asset.Category!.Name)</dd>

                    <dt class="col-sm-6 border p-1 m-0">Sub Category</dt>
                    <dd class="col-sm-6 border p-1 m-0">@Html.DisplayFor(model => model.Asset.SubCategory!.Name)</dd>

                    <dt class="col-sm-6 border p-1 m-0">Item Name</dt>
                    <dd class="col-sm-6 border p-1 m-0">@Html.DisplayFor(model => model.Asset.ItemName)</dd>

                    <dt class="col-sm-6 border p-1 m-0">Created By</dt>
                    <dd class="col-sm-6 border p-1 m-0">@Html.DisplayFor(model => model.Asset.User.FirstName)</dd>

                    <dt class="col-sm-6 border p-1 m-0">Procument Date</dt>
                    <dd class="col-sm-6 border p-1 m-0">@( Model.Asset.ProcurementDate?.ToString("dd/MM/yyyy"))</dd>

                    <dt class="col-sm-6 border p-1 m-0">Status</dt>
                    <dd class="col-sm-6 border p-1 m-0">@(Html.DisplayFor(model => model.Asset.Status!.Name))</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="row">

                    <dt class="col-sm-6 border p-1 m-0">Department</dt>
                    <dd class="col-sm-6 border p-1 m-0">@Html.DisplayFor(model => model.Asset.Department!.Name)</dd>

                    <dt class="col-sm-6 border p-1 m-0">Manufacturer</dt>
                    <dd class="col-sm-6 border p-1 m-0">@Html.DisplayFor(model => model.Asset.Manufacturer!.Name)</dd>

                    <dt class="col-sm-6 border p-1 m-0">Serial Number</dt>
                    <dd class="col-sm-6 border p-1 m-0">@Html.DisplayFor(model => model.Asset.SerialNumber)</dd>


                    <dt class="col-sm-6 border p-1 m-0">Model</dt>
                    <dd class="col-sm-6 border p-1 m-0">@Html.DisplayFor(model => model.Asset.Model)</dd>

                    <dt class="col-sm-6 border p-1 m-0">Lifespan</dt>
                    <dd class="col-sm-6 border p-1 m-0">@(Html.DisplayFor(model => model.Asset.LifespanQuantity)) Years</dd>

                    <dt class="col-sm-6 border p-1 m-0">Cost</dt>
                    <dd class="col-sm-6 border p-1 m-0">E@(Html.DisplayFor(model => model.Asset.Cost))</dd>

                    <dt class="col-sm-6 border p-1 m-0">Serial Number</dt>
                    <dd class="col-sm-6 border p-1 m-0">@(Html.DisplayFor(model => model.Asset.SerialNumber))</dd>

                </dl>
            </div>
            <div class="col-md-4">
                <dl class="row">

                    <dt class="col-sm-6 border p-1 m-0">Placement</dt>
                    <dd class="col-sm-6 border p-1 m-0">
                        @(Model.Asset.IsPlacement ?
                            "Yes " + Model.Asset.PlacementStartDate!.Value.ToString("dd/MM/yyyy") + " to " + Model.Asset.PlacementEndDate!.Value.ToString("dd/MM/yyyy")
                        : "No"
                        )
                        @* @(Html.DisplayFor(model => model.Asset.IsPlacement ? "Yes" : "No")) *@
                    </dd>

                    <dt class="col-sm-6 border p-1 m-0">Donated</dt>
                    <dd class="col-sm-6 border p-1 m-0">@(Model.Asset.IsDonated ? "Yes" : "No")</dd>

                    <dt class="col-sm-6 border p-1 m-0">Vendor</dt>
                    <dd class="col-sm-6 border p-1 m-0">@Html.DisplayFor(model => model.Asset.Vendor!.Name)</dd>

                    <dt class="col-sm-6 border p-1 m-0">Service Provider</dt>
                    <dd class="col-sm-6 border p-1 m-0">@Html.DisplayFor(model => model.Asset.ServiceProvider!.Name)</dd>

                    <dt class="col-sm-6 border p-1 m-0">Current Location</dt>
                    <dd class="col-sm-6 border p-1 m-0">@(Model.MovementHistory?.FirstOrDefault()?.Facility?.FacilityName ?? Model.MovementHistory?.FirstOrDefault()?.ServicePoint?.Name ?? "-")</dd>

                    <dt class="col-sm-6 border p-1 m-0">Functional Status</dt>
                    <dd class="col-sm-6 border p-1 m-0">@(Model.MovementHistory?.FirstOrDefault()?.FunctionalStatus?.Name ?? "-")</dd>

                    <dt class="col-sm-6 border p-1 m-0">Servicable</dt>
                    <dd class="col-sm-6 border p-1 m-0">
                        @(Model.Asset.IsServiceable ?
                            "Yes " + Model.Asset.ServiceInterval + " " + Model.Asset.ServicePeriodName.Name
                            : "No"
                            )
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<!-- Service History Section -->
<div class="card mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>Service History</span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type of Service</th>
                        <th>Status</th>
                        <th>Details</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var job in Model.ServiceHistory)
                    {
                        <tr>
                            <td>@job.DateCreated?.ToString("yyyy-MM-dd")</td>
                            <td>@job.FaultReport?.Name</td>
                            <td>@job.Status?.Name</td>
                            <td>@job.Remarks</td>
                            <td>
                                <a asp-controller="JobManagement" asp-action="jobCard" asp-route-id="@job.JobId" class="btn btn-sm btn-info me-1" title="View">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<!-- Movement/Assignment History Section -->
<div class="card mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>Movement/Assignment History</span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Detail</th>
                        <th>Functional Status</th>
                        <th>Recieved By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var move in Model.MovementHistory)
                    {
                        <tr>
                            <td>@move.MovementDate.ToString("yyyy-MM-dd")</td>
                            <td>
                                @if (move.Facility != null)
                                {
                                    @($"Moved - {move.Facility.FacilityName}")
                                }
                                else if (move.ServicePoint != null)
                                {
                                    @($"Received - {move.ServicePoint.Name}")
                                }
                                else
                                {
                                    @("Unknown")
                                }
                            </td>
                            <td>@move.FunctionalStatus.Name</td>
                            <td>
                                @* TBD Replace with actual user *@
                                @(move.ReceivedBy?.ToString() ?? "N/A")
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
