@model EMMS.ViewModels.AssetIndexViewModel
@{

    ViewData["Title"] = "Manage Assets";
    ViewData["asset"] = "active";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<div class="card">
    <div class="card-header">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>Manage Asset</span>
            <div class="d-flex justify-content-between align-items-center">
                <a class="btn btn-primary btn-sm" asp-controller="AssetManagement" asp-action="registerAsset">
                    <i class="fa fa-plus me-1"></i> New Asset
                </a>
                <button class="btn btn-primary btn-sm" style="margin-left:2px;" title="Export to Excel" onclick="fnExcelReport()">
                    <i class="fa fa-download"></i>
                </button>
                <button type="button" class="btn btn-sm btn-secondary" title="Printer" onclick="printSelectedStickers()">
                    <i class="fa-solid fa-print"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive" id="table-responsive-asset">
            <div class="table-responsive" id="table-responsive-asset">
                <table class="table fixed-table table-striped table-bordered table-hover" id="assetTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tag</th>
                            <th>Category</th>
                            <th>SubCategory</th>
                            <th>Placement</th>
                            <th>Vendor</th>
                            <th>Service Provider</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Facility</th>
                            <th>Service Point</th>
                            <th>Functional Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var asset in Model.assetViewModels!)
                        {

                            var lastMove = asset.LastMovement;
                            <tr>
                                <td>
                                    <input type="checkbox" class="asset-checkbox"
                                    value='@Html.Raw(Json.Serialize(new { asset.Asset.AssetTagNumber, asset.Asset.SerialNumber, asset.Asset.Model }))'>
                                </td>
                                <td>@asset.Asset.AssetTagNumber</td>
                                <td>@asset.Asset?.Category!.Name</td>
                                <td>@asset.Asset?.SubCategory!.Name</td>
                                <td>@(asset.Asset!.IsPlacement! ? "Yes" : "No")</td>
                                <td>@asset.Asset.Vendor!.Name</td>
                                <td>@asset.Asset.ServiceProvider!.Name</td>
                                <td>@asset.Asset.ProcurementDate?.ToShortDateString()</td>
                                <td>@asset.Asset.Status!.Name</td>
                                <td>
                                    @if (lastMove != null)
                                    {
                                          @(lastMove.Facility?.FacilityName)
                                        
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td>
                                    @if (lastMove != null)
                                    {

                                        @if (lastMove.ServicePoint?.Name != null)
                                        {
                                            @(lastMove.ServicePoint?.Name)
                                        }
                                        else
                                        {
                                            <span class="text-danger">Unknown</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td width="10%">
                                    @if (lastMove != null)
                                    {
                                        @:@(lastMove.FunctionalStatus)
                                        @if (lastMove.Reason == Enumerators.MovementReason.Decommission)
                                        {
                                            @:<span style="background-color:red;color:white;padding:2px 6px;border-radius:3px;">Decommissioned</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>

                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="@(lastMove != null  ? "d-none" : "")">
                                                <a class="dropdown-item btn btn-primary me-1"
                                                   title="Edit" style="font-size: medium;"
                                                   asp-controller="AssetManagement" asp-action="edit" asp-route-id="@asset.Asset.AssetId">
                                                    <i class="fa fa-edit"></i> edit asset
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-action="detail" asp-route-id="@asset.Asset.AssetId" style="font-size: medium;" class="dropdown-item btn btn-info me-1" title="View">
                                                    <i class="fa fa-eye"></i> view asset
                                                </a>
                                            </li>
                                            <li class="@(lastMove != null && lastMove.Reason == Enumerators.MovementReason.Decommission ? "d-none" : "")">
                                                <a style="font-size: medium;"
                                                   class="dropdown-item btn btn-warning"
                                                   title="Move"
                                                   asp-controller="AssetMovement" asp-action="moveAsset" asp-route-id="@asset.Asset.AssetId">
                                                    <i class="fa fa-arrows-alt"></i> move asset
                                                </a>
                                            </li>
                                            <li class="@(lastMove != null && lastMove.Reason == Enumerators.MovementReason.Decommission ? "d-none" : "")">
                                                <a style="font-size: medium;"
                                                   class="dropdown-item btn btn-secondary"
                                                   title="work request" asp-controller="JobManagement" asp-action="workRequest" asp-route-id="@asset.Asset.AssetId">
                                                    <i class="fa fa-toolbox"></i> work request
                                                </a>

                                            </li>
                                            <li class="@(lastMove != null && lastMove.Reason == Enumerators.MovementReason.Decommission ? "d-none" : "")">
                                                <button style="font-size: medium;" class="dropdown-item btn  btn-danger" title="Delete">
                                                    <i class="fa fa-trash"></i> delete asset
                                                </button>
                                            </li>
                                        </ul>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
          
    </div> 

</div>
</div>


@section Scripts {
    <script>
            $(document).ready(function () {
                $('#assetTable').DataTable({
                    // Optional: customize page length, language, etc.
                    pageLength: 10
                });
            });

    </script>
}
